################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/VentasProducto/Entidades/obj/Debug
/VentasProducto/Negocio/obj/Debug
/VentasProducto/Repositorio/obj/Debug
/VentasProducto/VentasProductoAPI/bin
/VentasProducto/VentasProductoAPI/bin
/VentasProducto/VentasProductoAPI/obj/Debug
/VentasProducto/packages
/VentasProducto/Negocio/bin/Debug
/VentasProducto/Entidades/bin/Debug
/VentasProducto/Repositorio/bin/Debug
/VentasProducto/WebApplication1/bin
