<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Repositorio.Properties.Settings.VentasConnectionString"
            connectionString="Data Source=CASTE-PC;Initial Catalog=Ventas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>